$colorBodyBg: #dcbb9a;
$colorContTab: #ffffff;
$colorText: #000000; 
$colorTextBrief: #000000;
$colorHeadingsBord: #893c00;
$colorBrief: #fadcba;
$colorLinks: #3d70a1;
$colorFrameTab: #e0e0e0;
$colorBackgrTab: #ffffff;
$colorForm: #808080;

@mixin briefStyle(){
	width: 420px;
	height: 100px;
	background-color: $colorBrief;
	color: $colorTextBrief;
	padding: 20px;
	float: left;
	margin-right: 20px;
}

@mixin h1Style() {
	color: $colorHeadingsBord;
	text-align: center;
}